* {
    font-family: 'Lato';
}

body {
    background: linear-gradient(to left, white 60%, lightblue 40%);
    margin: 0;
    padding: 0;
}

.card {
    margin: 7% auto;
    width: 90%;
    max-width: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: #3f8de0 0px 0px 5px;
    height: auto;
    padding: 20px;
    background: linear-gradient(to left, white 55%, rgb(189, 221, 231) 45%);
    box-sizing: border-box;
}

.card img {
    height: 200px;
    margin-right: 20px;
    border-radius: 45%;
}

.card h1 {
    font-family: "Luckiest Guy", serif;
    font-family: 'Lato';
    font-weight: 900;
    font-style: normal;
    text-align: center;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background-color: white;
    border-radius: 10px;
    padding: 0 20px;
    box-sizing: border-box;
}

header button {
    font-weight: 300;
    background: transparent;
    margin-left: 20px;
    font-size: 16px;
    border: transparent;
    text-align: center;
    cursor: pointer;
}

#about-button{
    padding-left: 45%;
}

header h2 {
    font-weight: 850;
    padding-left: 2px;
}

.blue-box {
    display: flex;
    align-items: center;
    margin-left: 35px;
    width: 15px;
    height: 15px;
    background-color: blue;
    margin-right: 8px;
}

.about-buttons button {
    display: inline-block;
    height: 35px;
    width: 120px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.resume-button {
    background-color: #007bff;
    color: white;
    border: none;
}

.resume-button:hover {
    background-color: white;
    color: black;
    border: 1px solid #007bff;
}

.projects-button {
    background-color: white;
    color: black;
    margin-left: 20px;
    border: 1px solid black;
}

.projects-button:hover {
    background-color: #007bff;
    color: white;
    border: none;
}

#about-heading {
    font-family: sans-serif;
    font-size: 80px;
    font-weight: 800;
    border-collapse: collapse;
    margin: 0px 0px 20px 0px;
}

#about-subheading {
    margin: 0px 0px 20px 0px;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 500;
}

#card-left {
    text-align: center;
    margin-right: 20px;
    width: 50%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#card-right {
    font-weight: 350;
    text-align: left;
    width: 50%;
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
        padding: 10px;
        background: linear-gradient(to bottom, white 40%, rgb(189, 221, 231) 60%);

    }

    .card img {
        margin: 0 auto 20px auto;
    }

    #card-left, #card-right {
        width: 100%;
        margin: 0;
    }

    header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    header button {
        margin: 10px 0;
    }

    .about-buttons button {
        width: 100%;
        margin: 10px 0;
    }

    #about-button {
        padding-left: 0%;
    }
    
    .blue-box {
        display: none;
    }
}